@import 'config';
/* Slideshow container */
section.slideshow-container {
    max-width: 100%;
    height: 418px;
    position: relative;
    margin: auto;
    overflow: hidden;

    #slide1{
        background: url('../images/lg-img1.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #slide2{
        background: url('../images/lg-img2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #slide3{
        background: url('../images/lg-img3.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .controllers{
        position: relative;
        z-index: 3;
        top: -250px;

        a.next{
            right: 0;
        }
    }



    .mySlides{
        height: 418px;
        img{
            width: 100%;
            height: 418px;
        }

        h1{
            font-weight: bold;
            font-size: 4.5em;
        }
    }

      /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
    //   font-weight: bolds;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      padding-left: 0;
      padding-right: 0;
      font-size: 50px;
    }
  
    
  }
  

  /* Position the "next button" to the right */
//   .next {
//     right: 0;
//     border-radius: 3px 0 0 3px;
//   }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    // background-color: rgba(0,0,0,0.8);
    color: darken(color(colorWhite),20);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    margin-top: 140px;
    position: absolute;
    width: 100%;
    text-align: center;

    p{
        font-weight: 600;
    }
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
.dots{
    text-align: center;
    z-index: 9;
    top: -30px;
    position: relative;

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin-left: 16px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &.active, &:hover {
            background-color: #e7ba2f;
          }
      }

}


  

  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
