/* 

primary-color: #000000;
secondary-color: #e7ba2f

overall-width: 1400px
container: 1080px

*/
@import 'config';
@import "slider";



* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body{
    height: 100%;
    background-color: color(colorWhite);
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

header{
    border-top: 3px solid color(secondary);
    text-align: center;
    h1.logo{
        margin-top: 28px;
        margin-bottom: 27px;
        a{
            text-decoration: none;
            color: color(colorBlack);
            font-family: "lucida";
            text-transform: capitalize;
        }
    }
}

.main-container{
    max-width: 1080px;
    height: auto;
    margin: 0 auto;
}

.sm{  
  color: lighten(color(colorBlack),40);
  padding-bottom: 15px;
  font-size: 13px;
}


section.main-container{
    position: relative;
    .flex-container{
        display: flex;
        margin-top: 43px;

        .container-left{
            min-width: 740px;
            .content{
                display: flex;
                margin-bottom: 40px;
                .content-text{
                  margin-left: 15px;
                  margin-right: 58px;

                  h3{
                    font-weight: 900;
                    padding-bottom: 14px;
                    word-break: break-all;
                  }

                  h4{
                    font-weight: normal;
                    word-break: break-all;
                  }
                  &:hover{
                    cursor: pointer;
                  }

                  &:hover h3{
                    color: color(secondary);
                  }
                }
            }

            .left-clickable{
              height: 40px;
              background-color: #333333;
              color: color(colorWhite);
              text-align: center;
              margin: 0 auto;
              width: 405px;
              margin-top: 100px;
    
              a{
                text-decoration: none;
                color: color(colorWhite);
                font-family: 'helvetica';
                margin-top: 50%;
              }
            }
        }

        .container-right{
            .sidebar-container{
              background-color: #efefef;
              height: auto;
              padding: 20px;

              h2{
                padding-top: 40px;
                text-align: center;
                border-bottom: 2px solid color(colorBlack);
              }

              .recommend-container{
                display: flex;
                margin-top: 20px;

                .recommend-text{
                  margin-left: 9px;

                  h4.bot{
                    padding-bottom: 0;
                  }
                }
              }

              .dummy-banner{
                margin-top: 40px;
                a{
                  display: block;
                  color: color(colorWhite);
                  text-decoration: none;
                  background-color: #666666;
                  text-align: center;
                  margin-bottom: 17px;
                  padding-top: 40px;
                  padding-bottom: 40px;

                  &:hover{
                    background-color:lighten(#666666,5);
                  }

                  &:last-child{
                      margin-bottom: 0;
                  }
                }
          }
      
            }
        }

    }
}


.arrowup{
    margin-top: 55px;
    position: relative;
    padding-bottom: 20px;
    right: 0;
    a{
        color: color(colorBlack);
        text-decoration: none;
        position: absolute;
        right: 0;
    }
}

footer{
  margin-top: 20px;
  color: #afafaf;;
  background: color(colorBlack);
  height: 45px;
  font-size: 17px;
  overflow: hidden;
  .main-container{
      position: relative;
      padding-top: 15px;
      a{
          color: #afafaf;
        .h5-left{
            position: absolute;
            font-weight: normal;
            left:0;
            span{
                margin-left: 20px;
            }
        }
    }
    .h5-right{
        position: absolute;
        font-weight: normal;
        right: 0;
        font-family: 'helvetica';
    }
  }

}