@charset "UTF-8";
/* 

primary-color: #000000;
secondary-color: #e7ba2f

overall-width: 1400px
container: 1080px

*/
@font-face {
  font-family: 'lucida';
  src: url("../fonts/Lucida-Calligraphy-Italic.TTF");
}

@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica.ttf");
}

@font-face {
  font-family: 'lucida';
  src: url("../fonts/Lucida-Calligraphy-Italic.TTF");
}

@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica.ttf");
}

/* Slideshow container */
section.slideshow-container {
  max-width: 100%;
  height: 418px;
  position: relative;
  margin: auto;
  overflow: hidden;
  /* Next & previous buttons */
}

section.slideshow-container #slide1 {
  background: url("../images/lg-img1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section.slideshow-container #slide2 {
  background: url("../images/lg-img2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section.slideshow-container #slide3 {
  background: url("../images/lg-img3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section.slideshow-container .controllers {
  position: relative;
  z-index: 3;
  top: -250px;
}

section.slideshow-container .controllers a.next {
  right: 0;
}

section.slideshow-container .mySlides {
  height: 418px;
}

section.slideshow-container .mySlides img {
  width: 100%;
  height: 418px;
}

section.slideshow-container .mySlides h1 {
  font-weight: bold;
  font-size: 4.5em;
}

section.slideshow-container .prev, section.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 50px;
}

/* Position the "next button" to the right */
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #cccccc;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  margin-top: 140px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.text p {
  font-weight: 600;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
  z-index: 9;
  top: -30px;
  position: relative;
}

.dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dots .dot.active, .dots .dot:hover {
  background-color: #e7ba2f;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #fff;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.main-container {
  max-width: 1080px;
  height: auto;
  margin: 0 auto;
}

.sm {
  color: #999999;
  font-size: 10px;
}

header {
  border-top: 3px solid #e7ba2f;
  text-align: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

header h1.logo {
  margin-top: 28px;
  margin-bottom: 27px;
}

header h1.logo a {
  text-decoration: none;
  color: #000;
  font-family: "lucida";
  text-transform: capitalize;
}

section.main-container {
  position: relative;
}

section.main-container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 43px;
}

section.main-container .flex-container .container-left {
  min-width: 740px;
}

section.main-container .flex-container .container-left .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  height: 116px;
}

section.main-container .flex-container .container-left .content:last-of-type {
  margin-bottom: 100px;
}

section.main-container .flex-container .container-left .content .content-text {
  margin-left: 15px;
  margin-right: 58px;
}

section.main-container .flex-container .container-left .content .content-text h3 {
  font-weight: 900;
  word-break: break-all;
}

section.main-container .flex-container .container-left .content .content-text h4 {
  font-weight: 500;
  word-break: break-all;
  font-size: 12px;
}

section.main-container .flex-container .container-left .content .content-text:hover h3 {
  color: #e7ba2f;
}

section.main-container .flex-container .container-left .content:hover {
  cursor: pointer;
}

section.main-container .flex-container .container-left button.left-clickable {
  height: 40px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  width: 405px;
  margin: 0 auto;
  display: block;
  font-family: 'helvetica';
  border: none;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

section.main-container .flex-container .container-left button.left-clickable span {
  right: 18px;
  position: absolute;
}

section.main-container .flex-container .container-right .sidebar-container {
  background-color: #efefef;
  height: auto;
  padding: 20px;
}

section.main-container .flex-container .container-right .sidebar-container a {
  text-decoration: none;
}

section.main-container .flex-container .container-right .sidebar-container a .dummy {
  width: 300px;
  height: 300px;
  color: #000;
  background-color: #fff;
  text-align: center;
  padding-top: 50%;
}

section.main-container .flex-container .container-right .sidebar-container h2 {
  padding-top: 40px;
  text-align: center;
  border-bottom: 2px solid #000;
}

section.main-container .flex-container .container-right .sidebar-container .recommend-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  height: 63px;
}

section.main-container .flex-container .container-right .sidebar-container .recommend-container:hover {
  cursor: pointer;
}

section.main-container .flex-container .container-right .sidebar-container .recommend-container img {
  height: 63px;
  width: 112px;
}

section.main-container .flex-container .container-right .sidebar-container .recommend-container .recommend-text {
  margin-left: 9px;
}

section.main-container .flex-container .container-right .sidebar-container .recommend-container .recommend-text h5 {
  padding-bottom: 0;
  font-size: 12px;
  line-height: 17px;
}

section.main-container .flex-container .container-right .sidebar-container .recommend-container .recommend-text h6.bot {
  font-size: 10px;
  color: #999999;
}

section.main-container .flex-container .container-right .sidebar-container .dummy-banner {
  margin-top: 40px;
}

section.main-container .flex-container .container-right .sidebar-container .dummy-banner a {
  display: block;
  color: #fff;
  text-decoration: none;
  background-color: #666666;
  text-align: center;
  margin-bottom: 17px;
  padding-top: 40px;
  padding-bottom: 40px;
}

section.main-container .flex-container .container-right .sidebar-container .dummy-banner a:hover {
  background-color: #737373;
}

section.main-container .flex-container .container-right .sidebar-container .dummy-banner a:last-child {
  margin-bottom: 0;
}

.arrowup {
  margin-top: 55px;
  position: relative;
  padding-bottom: 20px;
  right: 0;
}

.arrowup a {
  color: #000;
  text-decoration: none;
  position: absolute;
  right: 0;
}

footer {
  margin-top: 20px;
  color: #afafaf;
  background: #000;
  height: 45px;
  font-size: 17px;
  overflow: hidden;
}

footer .main-container {
  position: relative;
  padding-top: 15px;
}

footer .main-container a {
  color: #afafaf;
}

footer .main-container a .h5-left {
  position: absolute;
  font-weight: normal;
  left: 0;
}

footer .main-container a .h5-left span {
  margin-left: 20px;
}

footer .main-container .h5-right {
  position: absolute;
  font-weight: normal;
  right: 0;
  font-family: 'helvetica';
}
/*# sourceMappingURL=main.css.map */