<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Technical Exam
        link(rel="stylesheet", href="css/main.css")
    body
        header#home
            h1.logo
                a(href="#") website logo

        section.slideshow-container
            #slide1.mySlides.fade
                .text 
                    h1 キャッチコピーが入ります。
                    p サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                    p サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            #slide2.mySlides.fade
                .text 
                    h1 キャッチコピーが入ります。
                    p サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                    p サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            #slide3.mySlides.fade
                .text 
                    h1 キャッチコピーが入ります。
                    p サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                    p サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            .main-container.controllers
                a.prev(onclick="plusSlides(-1)") &#10094;
                a.next(onclick="plusSlides(1)") &#10095;
                
            .dots
                span.dot(onclick="currentSlide(1)")
                span.dot(onclick="currentSlide(2)")
                span.dot(onclick="currentSlide(3)")
                
        section.main-container
            .flex-container
                .container-left
                    .content(onclick="window.location='index.html'")
                        img(src="images/md-img1.png", alt="dummy image")
                        .content-text
                            h6.sm 2016.01.01
                            h3 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            h4 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…
                    .content(onclick="window.location='index.html'")
                        img(src="images/md-img2.png", alt="dummy image")
                        .content-text
                            h6.sm 2016.01.01
                            h3 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            h4 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…
                    .content(onclick="window.location='index.html'")
                        img(src="images/md-img1.png", alt="dummy image")
                        .content-text
                            h6.sm 2016.01.01
                            h3 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            h4 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…
                    .content(onclick="window.location='index.html'")
                        img(src="images/md-img1.png", alt="dummy image")
                        .content-text
                            h6.sm 2016.01.01
                            h3 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            h4 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…
                    .content(onclick="window.location='index.html'")
                        img(src="images/md-img1.png", alt="dummy image")
                        .content-text
                            h6.sm 2016.01.01
                            h3 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            h4 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…
                    .content(onclick="window.location='index.html'")
                        img(src="images/md-img1.png", alt="dummy image")
                        .content-text
                            h6.sm 2016.01.01
                            h3 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            h4 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…
                    .content(onclick="window.location='index.html'")
                        img(src="images/md-img1.png", alt="dummy image")
                        .content-text
                            h6.sm 2016.01.01
                            h3 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            h4 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…
                    .content(onclick="window.location='index.html'")
                        img(src="images/md-img1.png", alt="dummy image")
                        .content-text
                            h6.sm 2016.01.01
                            h3 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            h4 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…
                    .content(onclick="window.location='index.html'")
                        img(src="images/md-img1.png", alt="dummy image")
                        .content-text
                            h6.sm 2016.01.01
                            h3 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            h4 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…
                    .content(onclick="window.location='index.html'")
                        img(src="images/md-img1.png", alt="dummy image")
                        .content-text
                            h6.sm 2016.01.01
                            h3 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                            h4 サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

                    
                    button.left-clickable(onclick="window.location='index.html'") More
                            span &#10095;
                .container-right
                    .sidebar-container
                        a(href="#")
                            .dummy Dummy banner
                        h2 Recommend
                        .recommend-container(onclick="window.location='index.html'")
                            img(src="images/sm-img.png", alt="dummy image")
                            .recommend-text
                                h5 サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                                h6.sm.bot 2016.03.26
                        .recommend-container(onclick="window.location='index.html'")
                            img(src="images/sm-img.png", alt="dummy image")
                            .recommend-text
                                h5 サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                                h6.sm.bot 2016.03.26
                        .recommend-container(onclick="window.location='index.html'")
                            img(src="images/sm-img.png", alt="dummy image")
                            .recommend-text
                                h5 サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                                h6.sm.bot 2016.03.26
                        .dummy-banner
                            a(href="#") Dummy Banner
                            a(href="#") Dummy Banner
                            a(href="#") Dummy Banner
        .main-container
            .arrowup
                a(href="#home")
                    img(src="images/arrowup.png")
        footer
            .main-container
                
                a(href="#")
                    h5.h5-left 運営会社
                        span 個人情報保護について
                
                h5.h5-right &copy;2016 Sample


        script(src="slider.js")


        
        

